<nav class="navbar navbar-expand-lg navbar-light bg-primary text-white ">

  <button class="navbar-toggler " type="button" data-toggle="collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation" href="#menuPrimaray" aria-expanded="false"
    aria-expanded="false" aria-label="Toggle navigation" aria-controls="multiCollapseExample1"><span
      class="navbar-toggler-icon"></span></button>

  <div class="row">
  
    <div class="col">
      <div class="collapse multi-collapse" id="menuPrimaray">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" routerLink="/home" class="btn btn-primary">Home</button>
          <button type="button" routerLink="/chart" class="btn btn-primary">Gráfico</button>
          <button type="button" routerLink="/list" class="btn btn-primary">Lista de usuários</button>
        </div>
      </div>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <button type="button" class="btn btn-danger">SAIR</button>
      </li>
    </ul>
  </div>
</nav>