.side-bar{
    padding: 70px;
}

  
  .chart-container {
    position: relative;
    margin: auto;
    height: 50vh;
    width: 70vw;
  }

  
  *{margin:0; padding: 0; box-sizing: border-box;}

  .content{display:flex; margin: auto;}
  
  .rTable{width: 100%; text-align: center;}
  .rTable thead{background: #007bff; font-weight: bold; color:#fff;}
  .rTable tbody tr:nth-child(2n){background: #ccc;}
  .rTable th , .rTable td{padding: 7px 0;}
  
 
  @media only screen and (min-width: 1200px){
      .content{width:100%;}
      .rTable tbody tr td:nth-child(1){width:10%;}
      .rTable tbody tr td:nth-child(2){width:30%;}
      .rTable tbody tr td:nth-child(3){width:20%;}
      .rTable tbody tr td:nth-child(4){width:10%;}
      .rTable tbody tr td:nth-child(5){width:30%;}
  }

@media only screen and (min-width: 730px) and (max-width: 1200px){
    .content{width:100%; margin-left: 15px!important;}
    .rTable tbody tr td:nth-child(1){width:10%!important;}
    .rTable tbody tr td:nth-child(2){width:30%!important;}
    .rTable tbody tr td:nth-child(3){width:20%!important;}
    .rTable tbody tr td:nth-child(4){width:10%!important;}
    .rTable tbody tr td:nth-child(5){width:30%!important;}
  }

@media only screen and (min-width: 230px) and (max-width:480px){

  .rTable{width: 100%; text-align: center; margin-left:45px;}
  .pt-1 { margin-left:60px!important;}
  .content{width: 94%;}
  .rTable thead{display:none;}
  .rTable tbody td{display: flex; flex-direction: column; }
  }

